{% set cnode = salt['grains.get']('host') %}
ETCD_NAME={{ cnode }}
ETCD_DATA_DIR="/var/lib/etcd/default.etcd"
ETCD_LISTEN_PEER_URLS="http://{{ nodes[cnode] }}:2380"
ETCD_LISTEN_CLIENT_URLS="http://localhost:2379,http://{{ nodes[cnode] }}:2379"
ETCD_INITIAL_CLUSTER="{% for host, addrs in nodes.items() %}{{ host }}=http://{{ addrs }}:2380{% if not loop.last %},{% endif %}{% endfor %}"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ nodes[cnode] }}:2380"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ nodes[cnode] }}:2379"
{% set role = salt['grains.get']('role') %}
{% if role == 'citizen' %}
ETCD_INITIAL_CLUSTER_STATE="existing"
{% endif %}
